<!DOCTYPE html>
<html lang="ja">
  <head><meta charset="UTF-8"></head>
  <body>
    <script src="/javascripts/lib/three.min.js"></script>
  	<script type="text/javascript" src="/javascripts/lib/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/dev/WorldManager.js"></script>
    <script src="/javascripts/dev/TerrainGenerator.js"></script>
    <script>
    $(function(){
        document.body.onclick = function() {
            if (this.webkitRequestFullScreen) {
                 this.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            }
            else if (this.mozRequestFullScreen) {
                this.mozRequestFullScreen();
            }
            else {
                alert("not found")
            }
            this.requestPointerLock = this.requestPointerLock||this.mozRequestPointerLock||this.webkitRequestPointerLock;
            this.requestPointerLock();
        };
        
    	var worldManager = new WorldManager();
		g_time = 0;
    	worldManager.init();
    	worldManager.play();
        //var metaBox = createMetaBox();
        //var box = metaBox.getInstance();
    	//worldManager.add(box);
    })
    </script>
    <div style="position:absolute;top:250px;left:320px;">＋</div>
    <div style="position:absolute;top:100px;left:650px;">
    <div id="time"></div>
    <div id="debug1"></div>
    <div id="debug2"></div>
    </div>
  </body>
</html>